@keyframes fade-up {
    0% {
        opacity: 0;
        transform: translate(30px) scale(0.9);
    }
}

header {
    overflow-y: hidden;
}

header.header-info {
    display: flex !important;
    justify-content: space-between !important;
    height: 75px;
    align-items: center;

    a {
        img {
            height: 80px;
        }
    }

    nav {
       a {
        padding: 50px 20px 50px 20px;
        display: inline-block;
        transition: transform 0.3s ease;
        $color-letras:#2d2d2d;
        animation: fade-up 1s;

       } 

       a:hover {
        transform: translateY(-3px);
       }
    }
}