@media(min-width:991px) {

    
    .footer {
        display: flex;
        align-items: center;
        padding: 60px 50px 60px 50px;
        border-top: #2d2d2d solid 1px;
    }

    .copyright img {
        width: 300px;
        margin: 0 auto;
        text-align: center;
    }

    .copyright a {
        margin: 0 auto;
        text-align: center;
    }

    .copyright p {
        text-align: center;
        color: #2d2d2d;
        justify-content: center;
    }

    .copyright {
        width: 60%;
        text-align: center;
        justify-content: center;
    }

    .logo img{
        height: 80px;
    }

    .socials img {
        width: 20%;
        padding: 0px 20px 0px 20px;
    }
    .info {
        width: 20%;
        align-items: center;
    }

    .recipes-title {
        text-align: center;
        padding: 40px 0px;
        font-size: 25px;
    }

    .img-vlog {
        width: 400px;
        border: #2d2d2d solid 1px;
    }

    .vlog-1 {
        display: flex;
        justify-content: center;
        margin: 20px 0px;
    }

    form {
        padding: 50px 55px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
        border-radius: 20px;
        text-align: center;
        width: 340px;
    }

    .coffe-info-content {
        @include flexbox (flex, space-between, inherit, nowrap);
        margin-top: 40px;
        padding: 0px 50px 0px 50px; 
    }    

    .txt-visit {
        font-size: 25px;
    }

    .opening-1 h3 {
        font-size: 20px;
    }

    .opening-1 p {
        font-size: 18px;
    }

    .opening-2 h3 {
        font-size: 20px;
    }

    .opening-2 p {
        font-size: 18px;
    }

    .wwu-txt h1 {
        font-size: 38px;
    }

    .wwu-txt p {
        font-size: 28px;
    }

    form h2 {
        font-size: 35px;
    }
    
    .our-story-title {
        padding: 20px 150px 0px 150px;
    }

    .coffe-info-1 {
        width: 33%;
        padding: 10px 30px;
    }

    .coffe-info-2 {
        width: 33%;
        padding: 10px 30px;
    }

    .coffe-info-3 {
        width: 33%;
        padding: 10px 30px;
    }

    .vlog-content {
        width: 100%;
        max-width: 45%;   
    }

    .vlog-content p {
        font-size: 28px;
    }

    .vlog-1 img {
        box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.4);
    }


}


@media(max-width:991px) {

    .header-info {
        display: flex !important;
        height: 75px;
        align-items: center;
        padding: 0;
        margin: 0;
    }
    
    .header-info .logo img {
        padding-top: 5px;
        width: 185px;
        height: 55px;

    }
    
    .nav-link{
        display: flex;
        justify-content: space-between !important;
        font-size: 9px;
        padding: 5px 5px 5px 5px !important;
        margin: 0px;
    }
    
    header nav a {
        color:black;
    }

    .coffe-types .coffe-content h2{
        font-size: 20px;
        padding-bottom: 10px;
    }

    .coffe-types .coffe-content p {
        font-size: 12px;
    }

    .coffe-info-content {
        flex-direction: column;
        justify-content: center !important;
        margin: 0px;
        padding: 0; 
        width: 100%;
    }

    .coffe-info-content .coffe-info-1 {
        padding: 0;
        margin-top: 20px;
        width: 100%;
        align-items: center;
        justify-content: center !important;
        text-align: center;
    }

    .coffe-info-1 p {
        font-size: 12px;
    }

    .coffe-info-content .coffe-info-2 {
        padding: 0;
        margin-top: 30px;
        width: 100%;
        align-items: center;
        justify-content: center !important;
        text-align: center;
    }

    .coffe-info-2 p {
        font-size: 12px;
    }

    .coffe-info-content .coffe-info-3 {
        padding: 0;
        margin-top: 30px;
        width: 100%;
        align-items: center;
        justify-content: center !important;
        text-align: center;
    }

    .coffe-info-3 p {
        font-size: 12px;
    }

    .coffe-info-content .coffe-info img {
        width: 100px;
        
    }

    /* Vlog */ 

    .vlog-content p {
        padding-top: 30px;
        font-size: 22px;
    }

    .vlog-1 img {
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    }
        


    /* Visit us */

    .txt-visit {
        font-size: 20px;
    }

    .opening-1 h3 {
        font-size: 18px;
    }

    .opening-1 p {
        font-size: 12px;
    }

    .opening-2 h3 {
        font-size: 18px;
    }

    .opening-2 p {
        font-size: 12px;
    }

    /* Work with us */

    .wwu-txt h1 {
        font-size: 20px;
    }

    .wwu-txt p {
        font-size: 18px;
    }

    form h2 {
        font-size: 25px;
    }

    /* Footer */

    .footer {
        display: flex;
        align-items: center;
        padding: 0px;
        border-top: #2d2d2d solid 1px;
        flex-direction: column;
    }

    .footer .info {
        width: 100%;
        margin: 30px auto 0px auto;
    }
    
    .footer .info .info-content {
        align-items: center;
        justify-content: center;
    }

    .footer .info .info-content p {
        padding: 0;
        font-size: 12px;
    }


    .info-content img {
        width: 50px;
    }

    .copyright {
        a {
            .logo-footer {
                width: 200px !important;
            }
        }
    }

    .copyright p {
        text-align: center;
        color: #2d2d2d;
        font-size: 12px;
        
    }

    .copyright a {
        justify-content: center;
        margin: 0px auto;
        width: 50px;
    }

    .copyright {
        width: 100%;
        text-align: center;
        margin: 0 auto;
        padding-bottom: 30px;
    }

    .socials {
        margin-bottom: 30px;
    }

    .socials a img {
        width: 25px;
        padding: 0px 20px;
    }

    .recipes-title {
        text-align: center;
        padding: 20px 0px;
        font-size: 20px;
    }

    .img-vlog {
        width: 100%;
        border: #2d2d2d solid 1px;
        margin: 10px 10px;
    }

    .vlog-1 {
        flex-direction: column;
        justify-content: center;
        margin: 20px 0px;
    }

    form {
        margin: 0px 20px;
        padding: 50px 55px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
        border-radius: 20px;
        text-align: center;
        width: 300px;
    }



    
} 